colorama==0.4.6
dbt-core
dbt-duckdb
duckdb==1.5.5
iniconfig==2.3.0
numpy==2.2.6
packaging==26.3
pandas==2.2.3
pluggy==1.6.0
py4j==0.10.9.9
Pygments==2.21.0
pyarrow==18.1.0
pytest==9.1.1
python-dateutil==2.9.0.post0
six==1.17.0
tzdata==2026.4
